.navbar {
    display: flex;
    justify-content: space-around;
    height: 10vh;
    width: 100vw;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    cursor: pointer;
    box-sizing: border-box;
}

.nav-menu,
.nav-login-cart {
    display: flex;
    gap: 1rem;
}

.nav-login-cart,
.nav-menu li {
    display: inline-block;
}

.logo,
.nav-login-cart {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo img,
.nav-login-cart img {
    height: 5vh;
    width: 5vw;
}


.nav-login-cart button {
    height: 6vh;
    width: 15vw;
    padding: 0 5px;
    border-radius: 1rem;
    display: inline-block;
    box-sizing: border-box;
    background-color: white;
}

/* click effect of login */
.nav-login-cart button:active {
    background-color: whitesmoke;
}

/* menu active link */
.nav-menu li hr {
    border: none;
    width: 100%;
    height: 3px;
    border-radius: 10px;
    background-color: magenta;

}

/* nav-cart-count */
.nav-cart-count {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -45px;
    background-color: red;
    color: white;
    border-radius: 1em;
    font-size: 14px;
    font-weight: 700;
}
.nav-menu a {
    color: black; /* Default link color */
    text-decoration: none; /* Remove underline by default */
    font-size: 1rem;
    padding: 0.5rem 1rem; /* Space around the links */
    transition: color 0.3s ease, background-color 0.3s ease; /* Smooth transition for hover effects */
}

@media only screen and (min-width: 600px) {
    .sidebar {
        display: none;
    }
}

@media only screen and (max-width: 600px) {

    .nav-menu {
        display: none;
        width: 100%;
        flex-direction: column;
        position: absolute;
        top: 10vh;
        left: 0;
        height: 30vh;
        padding: 1rem;
        gap: 2rem;
        background-color: rgb(151, 205, 151);
    }
    .nav-menu a {
        color: black; /* Default link color */
        text-decoration: none; /* Remove underline by default */
        font-size: 1rem;
        font-weight: bold;
        padding: 0.5rem 1rem; /* Space around the links */
        transition: color 0.3s ease, background-color 0.3s ease; /* Smooth transition for hover effects */
    }
    .nav-menu.active {
        display: flex;
    }

    .navbar-toggle {
        display: block;
    }
    .nav-menu li hr {
        border: none;
        width: 20%;
        height: 3px;
        border-radius: 10px;
        background-color: magenta;
    }

}